# VSCode
/.vscode

# Ignore problem
/PCBCircuitProblem
/RectangleProblem

# Ignore compiled code
*.exe
__pycache__/

# Ignore problems
/GoogleCodingChallenge2020
/GoogleKickStart2020
/Plates
/HousePurchase
/Workout
/Test

# Ignore test
test.py